site_name: botplotlib
site_description: Deadly serious plotting tools. Also sandwiches.
site_url: https://migdaepp.github.io/botplotlib/
repo_url: https://github.com/migdaepp/botplotlib
repo_name: migdaepp/botplotlib

theme:
  name: material
  favicon: images/favicon.svg
  logo: images/favicon.svg
  palette:
    - scheme: default
      primary: indigo
      accent: amber
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: amber
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy
    - content.code.annotate
    - navigation.tabs
    - navigation.top
    - navigation.footer
    - search.suggest
    - search.highlight
    - toc.follow
  icon:
    repo: fontawesome/brands/github

nav:
  - Home: index.md
  - Guide: guide.md
  - API Reference: api/index.md
  - Contributing: contributing.md
  - Governance: https://github.com/migdaepp/botplotlib/blob/main/GOVERNANCE.md

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: false
            show_root_heading: true
            heading_level: 3
            members_order: source
            docstring_style: google

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.snippets
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/migdaepp/botplotlib
